html,
body{
    margin:0;
    padding: 0;
}
.array-bar{
    margin-left: 2px;
    margin-right: 2px;
}
.container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 90vh;
    background-color: #ebf0f3;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
.btn{
    font-size: 1.2em;
    border-radius: 0.5em;
    margin: 2vw;
}
.sltsort{
    font-size: 1.2em;
    border-radius: 2em;
    margin: 1vw;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 22, 84);
    color: white;
    height: 10vh;
}